/* General body styles, setting font and removing default margin and padding */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the calculator container */
.calculator-container {
  width: 55%;
  margin: 1% 1%;
  padding: 20px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid #ccc;
}

/* Extra margin for h2 elements within paragraphs in the calculator container */
.calculator-container p h2{
  margin-top: 10px;
}

/* Styling for input groups, using flex layout for alignment */
.input-group {
  margin-bottom: 1px; 
  display: flex; 
  align-items: center;
}

/* Label styling, ensuring it's inline and has a small margin */
label {
  margin-right: 2px; 
  display: inline-block;
}

/* General input styling for text and range types */
input[type="text"],
input[type="range"] {
  border: 1px solid #ccc;
}

/* Styling for disabled text inputs */
input[type="text"]:disabled {
  background-color: #e9e9e9;
}

/* Specific styling for the tip percentage display */
#tipPercentage {
  background-color: black;
  color: white;
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 3px;
}